@namespace FBC.Components
<div class="container px-5 my-5 @ExtraClass">
    <table class="table">
        <tr>
            <th>Toplam Borç</th>
            <td style="text-align: right">@($"{ToplamBorc:c}")</td>
        </tr>
        <tr>
            <th>Toplam Alacak</th>
            <td style="text-align: right">@($"{ToplamAlacak:c}")</td>
        </tr>
        <tr>
            <th>Bakiye</th>
            <td style="text-align: right">@($"{(ToplamAlacak - ToplamBorc):c}")</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public decimal ToplamBorc { get; set; }
    [Parameter]
    public EventCallback<decimal> ToplamBorcChanged { get; set; }
    [Parameter]
    public decimal ToplamAlacak { get; set; }
    [Parameter]
    public EventCallback<decimal> ToplamAlacakChanged { get; set; }

    [Parameter]
    public string ExtraClass { get; set; } = "";

}
