<RadzenSidebar @bind-Expanded="@sidebar1Expanded">
    <RadzenPanelMenu>
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Ana Sayfa" Icon="home" Path="/" />
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <RadzenPanelMenuItem Text="Kullanıcılar" Icon="group" Path="Users" />
            <RadzenPanelMenuItem Text="Döviz İşlemleri" Icon="payments" Path="DovizIslemleri" />
            <RadzenPanelMenuItem Text="SysInfo" Icon="dns" Path="sys" />
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Çıkış" Icon="logout" Path="Logout" />
            </Authorized>
            <NotAuthorized>
                <RadzenPanelMenuItem Text="Giriş" Icon="login" Path="Login" />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenPanelMenu>
    @*<div class="rz-p-4">
    Sidebar
    </div> *@
</RadzenSidebar>


@code {
    [CascadingParameter(Name = "SidebarState")]
    public bool sidebar1Expanded { get; set; }
}
